.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div{
    padding:10px;
}
.genderC{
        margin-bottom: 30px;
}
button{
    margin:10px;
    padding:10px;
    text-align: center;

}
